.erro::after {
  content: ' OBRIGATÓRIO PREENCHER TODOS OS CAMPOS!';
  background: red;
  color: azure;
  width: max-content;
}

.notaRed {
  background: red;
  color: azure;
  width: 100px;
  font-weight: bold;
}

.notaYellow {
  background: rgb(234, 255, 0);
  color: rgb(2, 2, 2);
  width: 100px;
  font-weight: bold;
}

.notaGreen {
  background: rgb(51, 255, 0);
  color: rgb(2, 2, 2);
  width: 100px;
  font-weight: bold;
}

.noshow {
  animation: noShowDiv 0.3s;
  margin: 15px 0 0;
  flex-direction: column;
  background: #8ab9de;
  gap: 10px;
  box-shadow: 2px 5px 10px #6d7aa3;
  border-radius: 5px;
  padding: 10px;
  font-size: 20px;
  
}
.show {
  margin: 15px 0 0;
  flex-direction: column;
  background: #8ab9de;
  gap: 10px;
  box-shadow: 2px 5px 10px #6d7aa3;
  border-radius: 5px;
  padding: 10px;
  font-size: 20px;
  animation: showDiv 1s;
  
}

@keyframes showDiv {
  0% {
    opacity: 0;
   
  }

  100% {
    opacity: 1;
    
  
  }
}

@keyframes noShowDiv {
  0% {
    opacity: 1;
    display: flex;
  }

  100% {
    opacity: 0;
    display: none;
  }
}

  

@keyframes showText {
  0% {
    opacity: 0;
    
  }

  100% {
    opacity: 1;
    
  }
}