.erro::after {
  content: ' OBRIGATÓRIO PREENCHER TODOS OS CAMPOS!';
  background: red;
  color: azure;
  width: max-content;
}

.notaRed {
  background: red;
  color: azure;
  width: 100px;
  font-weight: bold;
}

.notaYellow {
  background: rgb(234, 255, 0);
  color: rgb(2, 2, 2);
  width: 100px;
  font-weight: bold;
}

.notaGreen {
  background: rgb(51, 255, 0);
  color: rgb(2, 2, 2);
  width: 100px;
  font-weight: bold;
}

.noshow {
  display: none;
}
.show {
  margin: 15px 0 0;
  display: flex;
  flex-direction: column;
  background: #8AB9DE;
  gap: 10px;
  box-shadow: 2px 5px 10px #6d7aa3;
  border-radius: 5px;
  padding: 10px;
  font-size: 20px;

}
